// *******************
// * COLOR VARIABLES *
// *******************

$color-primary: #000000;
$color-chinese-white: #e0e0e0;
$color-white: #ffffff;
$color-lotion: #fafafa;

// *****************
// * MAP VARIABLES *
// *****************

$font-weights: (
    "regular": 400,
    "bold": 700
);